doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Custom Object Table
    link(rel="stylesheet" href="/css/style.css")
  body
    .container
      h1 Custom Object Table
      
      .nav-link
        a(href="/update-cobj") Add/Update Custom Object
      
      .table-container
        table
          thead
            tr
              th Name
              th Bio
              th Level
          tbody
            tr
              td(colspan="3") No data available
