doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Update Custom Object
    link(rel="stylesheet" href="/css/style.css")
  body
    .container
      h1 Update Custom Object
      
      .nav-link
        a(href="/") Back to Homepage
      
      .form-container
        form(method="POST" action="/update-cobj")
          .form-group
            label(for="name") Name:
            input(type="text" id="name" name="name" required)
          
          .form-group
            label(for="price") Price:
            input(type="text" id="price" name="price" required)
          
          .form-group
            label(for="description") Description:
            textarea(id="description" name="description" rows="4" required)
          
          button(type="submit") Submit
